<form action="/register" method="post">
    <label for="name">UserName:</label>
    <input type="text" name="name" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
	<label for="mobile_number">ContactNo:</label>
    <input type="mobile_number" name="mobile_number" required>
    <br>
	<label for="email_address">Email:</label>
    <input type="email" name="email_address" required>
    <br>
	<label for="type_of_user">Type of User:</label>
    <input type="text" name="type_of_user" required>
    <br>
	<br>
    <button type="submit">Create New Account</button>
</form>